body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-attachment: fixed;
  background-position: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 100px;
  background: #3c3a39;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 767.98px) {
  header {
    padding: 0 20px;
  }
}

.headline-page {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  color: white;
  background-image: url(images/f.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  background-size: 80px 220px;
}

.social-icons {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
  margin: 12px;
  margin-bottom: 100px;
}

.social-icons a {
  color: #fff;
}

.headline-page {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  color: white;
  background-image: url(images/f.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 120px;
  margin-bottom: 13%;
  background-size: 80px 220px;
}

.intro {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-left: 12px;
}

.middle_container {
  display: flex;
  flex-wrap: wrap;
}

.middle {
  margin: 10px;
  width: 65%;
}

.middle_container > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.main_block {
  margin: 10px;
  width: 400px;
}

.post {
  position: static;
  width: 300px;
  height: 36px;
  left: 10;
  top: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  padding: 10px;
}

.btn_project {
  background-color: #ff6b00;
  color: #fff;
  font-size: 17px;
  width: 124px;
  height: 48px;
  padding: 5px;
  margin-top: 16px;
  left: 1px;
  margin-left: 1px;
  border: 0;
}

.buttonsn {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  border: 1px;
  color: #8993a4;
  width: 80%;
}

.css {
  background-color: #fff;
  width: 46px;
  height: 40px;
}

.html {
  background-color: #fff;
  width: 46px;
  height: 40px;
}

.boots {
  background-color: #fff;
  width: 68px;
  height: 40px;
}

.ruby {
  background-color: #fff;
  width: 46px;
  height: 40px;
}
