* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #3c3a39;
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second_header {
  background-color: #1c1a19;
  color: #fff;
  padding: 15px;
  background-image: url(images/f.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 70px 150px;
}

.second_header h1 {
  color: #ff6b00;
}

.second_header h2 {
  color: #fff5e1;
  font-size: 18px;
}

.content_1 {
  margin-top: 140px;
  padding: 30px 30px 30px 30px;
}

.content_1 h1 {
  font-size: 26px;
}

.technology li {
  display: inline;
  padding-right: 10px;
  background-color: #091e4248;
  height: 16px;
  width: 6px;
  font-size: 20px;
}

.social-icons_last a {
  color: #505f79;
  margin-right: 20px;
}

.post2 li {
  display: inline;
  padding-right: 10px;
  background-color: #eeeef021;
  height: 16px;
  width: 6px;
  font-size: 14px;
  margin-left: 0;
  border: 1px solid #091e42;
}

#social-icons li {
  list-style: none;
  display: inline;
  color: #fff;
  font-size: 20px;
  margin: 30px 20px 30px 0;
  left: 0;
}

#social-icons a {
  color: #fff;
}

.line1 {
  background-color: rgba(0, 0, 0, 0.507);
  height: 2px;
  margin: 50px 10px 100px 10px;
}

.content_1 img {
  width: 100%;
  height: auto;
}

.content_2 {
  background-color: #cc33c467;
  background-image: url(images/Img1.png);
  margin-bottom: 50px;
  color: #fff;
}

.content_2 p {
  font-weight: 900;
}

.card {
  padding-top: 40px;
  padding-left: 15px;
}

.btn_yellow {
  background-color: #ff6b00;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.post {
  color: #091e42;
  margin-bottom: 150px;
}

.post2 ul {
  list-style: none;
}

#li {
  width: 35%;
}

.post3 {
  background-color: #ff6b00;
  border: 1px solid #000;
  margin-top: 30px;
}

.post3 ul {
  list-style-type: none;
}

.content_3 {
  background-color: #000;
  color: #fff;
}

.content_3 h1 {
  color: #ff6b00;
  text-align: center;
  font-size: 47px;
  padding-top: 120px;
  padding-bottom: 10px;
}

.content_3 p {
  padding: 0 20px 20px 20px;
}

#yellow {
  width: 50%;
  margin-left: 50px;
}

.bottom_link {
  align-content: center;
  padding-left: 50px;
  padding-bottom: 50px;
}

.form {
  padding: 8px;
}

.content_4 {
  padding: 2px;
  margin-top: 80px;
}

.content_4 p {
  font-size: 20px;
  text-align: center;
  color: #091e42;
  font-weight: 900;
}

.footer {
  color: #fff;
  font-size: 12px;
  padding: 0;
}

form input {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  width: 280px;
  border-bottom: 2px solid #dbd8d7;
}

input[type="email"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  width: 280px;
  border-bottom: 2px solid #dbd8d7;
}

#fs-frm input[type="submit"] {
  height: 48px;
  background-color: rgba(255, 107, 0, 1);
  color: white;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding-top: 16px;
  border: none;
  margin-left: 60px;
  margin-top: 20px;
}

textarea {
  height: 150px;
  width: 280px;
  margin-top: 10px;
  border: none;
  background-color: #fbf8f7;
  font-size: 16px;
  padding-top: 1px;
  padding-left: 2px;
  text-align: left;
}

.social-icons_last {
  display: flex;
  list-style: none;
  width: 100%;
  height: 2ch;
  margin-top: 70px;
  margin-bottom: 10px;
  font-size: 26px;
  margin-left: 1px;
}
